{% extends 'magasin/base.html' %}

{% block content %}
<h1>Bienvenue<h1>
{% endblock %}

{% block styles %}
  <style>
    body {
      height: 1000px;
      background-image: url('/static/images/background.jpg');
      background-size: auto;
      background-position: center ;
    }
  h1{
    height: 1000px;
    background-position: center ;
    font-size: 250px;
    color: #ffd500;
    display: grid;
    place-items: center;
    height: 90svh;
    background-position: 0px 0px, 1px 1px;
  }
  </style>
{% endblock %}
