

    <blockquote class="quote small-container" cite="https://www.youtube.com/watch?v=myU81w93Uu4">
      <p class="quote-attribution" style="margin-right: 200px">
        <a href="magasin/" class="nav-link" style="color: #ffd500; ">Librairie En Ligne</a>
  
      </p>
    </blockquote>

{% block styles %}
<style>
  body {
    height: 1000px;
    background-image: url('/static/images/background.jpg');
    background-size: auto;
    background-position: center ;
    font-size: 160px;
    display: grid;
    place-items: center;
    height: 100svh;
    background-position: 0px 0px, 1px 1px;
  }
</style>
{% endblock %}  