{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="row">
	{% for product in products %}
	<div class="col-lg-4">
		<img class="thumbnail" src="{{product.imageURL}}">
		<div class="box-element product">
			<h6><strong>{{product.name}}</strong></h6>
			<hr>

			<button data-product="{{product.id}}" data-action="add"
				class="btn btn-outline-secondary add-btn update-cart">Ajouter au panier</button>

			<h4 style="display: inline-block; float:right"><strong>${{product.price}}</strong></h4>

		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}
{% block styles %}
  <style>
    body {
      height: 1000px;
      background-image: url('/static/images/background.jpg');
      background-size: auto;
      background-position: center ;
    }
  </style>
{% endblock %}